# APP_DOMAIN=https://toil.cc/api/
# AUTH_COOKIE_DOMAIN=toil.cc
POSTGRES_PASSWORD=mysecretpassword
CAPTCHA_SIGNATURE=your_captcha_signature
CAPTCHA_KEY_SIGNATURE=your_captcha_key_signature
AUTH_USERNAME=root
AUTH_PASSWORD=root
AUTH_SERVICE_TOKEN=your_secret_token
# to get a more info - read changelog for 1.0.5 update
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=