# Voiden
.voiden/*
!.voiden/env-public.yaml
!.voiden/env-*-public.yaml
.voiden
.voiden/.process.env.json
.voiden/**
.voiden/history/C__Users_ilyat_Voiden_toiloff-backend_index-history.json
.voiden/history/H__Programming_Web_toiloff_modern_backend_docs_guestbook_admin-history.json
.voiden/history/H__Programming_Web_toiloff_modern_backend_docs_stats_index-history.json

# Voiden
.voiden-inherited.void
.voiden/history/C__Users_ilyat_Voiden_untitled-history.json
.voiden/history/H__Programming_Web_toiloff_modern_backend_docs_projects_index-history.json
.voiden/history/H__Programming_Web_toiloff_modern_backend_docs_projects_admin-history.json
